.drone-window {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3CBA7D;
    padding-top: 250px;
    height: 100%;
}

.drone-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.drone-body img {
    width: 800px;
    height: 500px;
}


.top .connection {
    display: inline-flex;
    align-items: baseline;
    background-color: greenyellow;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 70px;

}

.top .connection h3 {
    color: green;
}

.bottom .left {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}

.bottom {
    display: flex;
    gap: 50px;
    align-items: center;
}

.bottom .left .speed-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.bottom .left .speed-container .volumne {
    height: 200px;
    border-radius: 70px;
    background: #053464;
    width: 50px;
}

.bottom .left .header h4 {
    font-size: 20px;
    font-weight: 700;
}

.volumne .empty {
    height: 40%;
    background-color: #fff;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.onOff {
    margin: 30px;
    border-radius: 60px;
    padding: 10px 30px;
    border: none;
    background-color: #053464;
    color: gold;
    font-weight: 700;
    font-size: 20px;
}

.hidden-bar {
    width: 100%;
    margin: auto;
    display: none;

}

.hidden-bar .details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
}

.details .section h4 {
    display: inline-flex;
}

.drone-book {
    width: 100%;
    background-color: #3CBA7D;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 40px;
}

.drone-book button {
    padding: 20px;
    background-color: #053464;
    color: gold;
    font-size: 28px;
    border: none;
    border-radius: 40px;
    padding: 10px 50px;
}

@media (max-width:1200px) {

    .drone-body img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width:700px) {
    .bottom .left {
        display: none;
    }

    .hidden-bar {
        display: block;
    }
}